@{
    ViewBag.title = "Editar Compa&ntilde;ia";
}
<h2> Editar Compa&ntilde;ia</h2>
<div ng-controller="CompaniaEditController">
    <form novalidate class="simple-form">
        <div class="form-group"><label>Nombre: <input class="form-control" type="text" ng-model="compania.nombre" /></label></div>
        <div class="form-group"><label>Fundada: <input class="form-control" type="text" ng-model="compania.founded" /></label></div>       
        <input class="btn btn-primary" type="submit" ng-click="EditarCompania(compania)" value="Guardar" />
    </form>
</div>
