
@{
    ViewBag.Title = "Companias";
}

<h2>Compa&ntilde;ias</h2>

<div ng-controller="CompaniasController">
    <button ng-click="CreateCompania()" style="float:right;" class="btn btn-primary">Crear compa&ntilde;ia</button>
    <table class="table"
           style="padding-top:20px;">
        <thead>
            <tr style="background-color:#F5F5F5;">
                <th>Nombre</th>
                <th>Fundada</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="compania in companiasInfo">
                <td>{{compania.nombre}}</td>
                <td>{{compania.founded}}</td>
                <td><a ng-click="EditCompania(compania.id)">Editar</a></td>
                <td><a ng-click="EliminarCompania(compania.id)">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    <div align="right" class="row row-xs">
        <div class="col-sm-12">
            <pagination boundary-links="true" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pageChanged()" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>

</div>

