
@{
    ViewBag.Title = "Companias";
}

<h2>Comics</h2>

<div ng-controller="CompaniasController">
    <table cellpadding="4" cellspacing="4" width="90%" align="center"
           style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
        <thead>
            <tr style="background-color:#F5F5F5;">
                <th>ID</th>
                <th>Nombre</th>
                <th>Fundada</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="compania in companiasInfo">
                <td>{{compania.id}}</td>
                <td>{{compania.nombre}}</td>
                <td>{{compania.founded}}</td>                
                <td><a ng-click="EditCompania(compania.id)">Edit</a></td>
                <td><a ng-click="EliminarUnidad(compania.id)">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div data-ng-include="'/Scripts/managment/shared/pagination/pagination.html'"></div>
</div>

