@{
    ViewBag.title = "Editar Escritor";
}
<h2> Editar Escritor</h2>
<div ng-controller="EscritorEditController">
    <form novalidate class="simple-form">
        <div class="form-group"><label>Nombre: <input class="form-control" type="text" ng-model="escritor.nombre" /></label></div>
        <div class="form-group"><label>Apellido: <input class="form-control" type="text" ng-model="escritor.apellido" /></label></div>
        <div class="form-group"><label>Nacimiento: <input class="form-control" type="text" ng-model="escritor.nacimiento" /></label></div>
        <input class="btn btn-primary" type="submit" ng-click="EditarEscritor(escritor)" value="Guardar" />
    </form>
</div>

