
@{
    ViewBag.Title = "Escritores";
}

<h2>Escritores</h2>

<div ng-controller="EscritoresController">
    <button ng-click="CreateEscritor()" style="float:right;" class="btn btn-primary">Crear escritor</button>
    <table class="table"
           style="padding-top:20px;">
        <thead>
            <tr style="background-color:#F5F5F5;">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nacimiento</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="escritor in escritoresInfo">
                <td>{{escritor.nombre}}</td>
                <td>{{escritor.apellido}}</td>
                <td>{{escritor.nacimiento}}</td>
                <td><a ng-click="EditEscritor(escritor.id)">Editar</a></td>
                <td><a ng-click="EliminarEscritor(escritor.id)">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    <div align="right" class="row row-xs">
        <div class="col-sm-12">
            <pagination boundary-links="true" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pageChanged()" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</div>


