
@{
    ViewBag.Title = "Comics";
}

<h2>Comics</h2>

<div ng-controller="ComicsController">
    <button ng-click="CreateComic()" style="float:right;" class="btn btn-primary">Crear comic</button>
    <table class="table"
           style="padding-top:20px;">
        <thead>
            <tr style="background-color:#F5F5F5;">
                <th>Titulo</th>
                <th>Año</th>
                <th>Numero</th>
                <th>Escritor</th>
                <th>Compania</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="comicVM in comicsInfo">
                <td>{{comicVM.comic.titulo}}</td>
                <td>{{comicVM.comic.anio}}</td>
                <td>{{comicVM.comic.numero}}</td>
                <td>{{comicVM.escritorNombre}}</td>
                <td>{{comicVM.companiaNombre}}</td>
                <td><a ng-click="EditComic(comicVM.comic.id)">Editar</a></td>
                <td><a ng-click="EliminarComic(comicVM.comic.id)">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    <div align="right" class="row row-xs">
        <div class="col-sm-12">
            <pagination boundary-links="true" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pageChanged()" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>

</div>
