
@{
    ViewBag.Title = "Comics";
}

<h2>Comics</h2>

<div ng-controller="ComicsController">
    <table class="table"
           style="padding-top:20px;">
        <thead>
            <tr style="background-color:#F5F5F5;">
                <th>Titulo</th>
                <th>Año</th>
                <th>Numero</th>
                <th>Escritor</th>
                <th>Compania</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="comicVM in comicsInfo">
                <td>{{comicVM.comic.titulo}}</td>
                <td>{{comicVM.comic.anio}}</td>
                <td>{{comicVM.comic.numero}}</td>
                <td>{{comicVM.escritorNombre}}</td>
                <td>{{comicVM.companiaNombre}}</td>
                <td><a ng-click="EditComic(comicVM.comic.id)">Edit</a></td>
                <td><a ng-click="EliminarUnidad(comicVM.comic.id)">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div data-ng-include="'/Scripts/managment/shared/pagination/pagination.html'"></div>
</div>
