<div align="right" class="row row-xs">
    <div class="col-sm-12">
        <pagination boundary-links="true" total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pageChanged()" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>


